<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/bg.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mb-4">Send me poems that…</h1>
        <div class="formbox">
          <a (click)="sendMePoem('fit_my_taste')" class="btn mb-3">
            Fit my taste
          </a>
          <a (click)="sendMePoem('expand_my_taste')" class="btn mb-3">
            Expand my taste
          </a>
          <a (click)="sendMePoem('alternate_between_fitting_and_expanding')" class="btn">
            Alternate between fitting and expanding
          </a>

          <p>
            We will try to get to know your taste by observing which poems you
            added to your collection
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>
