<section
  class="home-bg secpad inputbox privacypolicy"
  style="background-image: url('assets/images/pribg.png')"
>
  <div class="container pb200">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center" innerHtml="{{this?.responseData?.title}}"></h1>
        <div class="position-relative  text-right mb-4">
        <!--   <span
            class="spanrel1 recbtn"
            (mouseover)="hideShowDiv = false"
            (mouseout)="hideShowDiv = true">
            <span class="d-none d-sm-inline-block">{{this?.responseData?.title}}</span>
            <img class="d-sm-none ml-sm-2" src="assets/images/info-icon.png">
          </span> --> 
          <span class="showdiv1" *ngIf="!hideShowDiv" innerHtml="{{this?.responseData?.showExtraPrivacyData}}">
            <!-- The efforts that we make, your information to protect, <br />
            begin with details that we don’t at all collect.<br />
            We don’t ask for your full name, phone number or address.<br />
            Your picture? No thanks, keep this info close to your own chest.<br />
            If you would wish your username and password both deleted,<br />
            just click upon your profile, then “delete”, that’s all that’s
            needed.<br />
            We don’t show any ads, so there’s no ‘ad personalization’,<br />
            removing yet another risk of leak of information.<br /><br />

            For we are also users of the world wide web, you see,<br />
            so we try hard these moral words of old to heed:<br />
            “When designing the protection of thy users’ privacy,<br />
            take measures you’d like others to apply when guarding thee.”<br /><br />

            You wish to know more details? Please feel welcome to proceed.<br />
            Our policy is below, displayed for you to read. -->
          </span>
        </div>
        <p innerHtml="{{this?.responseData?.description}}"></p>
        
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
