<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/uploadbg.png')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center mb-3">Upload an old poem</h1>
        <p class="text-center textleft mb-1">
          Is there an old poem that is meaningful to you, <br class="brhide" />
          and you would like to share it with others?
        </p>
        <p class="text-center position-relative wfix textleft">
          Is it already in the '<span
            class="spanrel"
            (mouseover)="hideShowDiv = false"
            (mouseout)="hideShowDiv = true"
            >public domain</span
          >'?
          <span class="showdiv" *ngIf="!hideShowDiv">
            The poem was published before 1928 and 70 years have passed since
            the death of the poet.
          </span>
          <!--   <br />
            You might be able to find the text of the poem on websites that
            publish public domain poetry, such as Project Gutenberg. -->
        </p>
        <p class="title-mb-40 text-center textleft">
          If so, we would be really happy if you upload it.
        </p>

        <form [formGroup]="productForm">
          <div class="form-group mb-4">
            <label>Title</label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              placeholder="Title of the poem (if it has a title)"
            />
            <!--   <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div *ngIf="f.title.errors.required"><strong>Title is required</strong></div>
            </div> -->
            <div>
              <!-- <p style="font-size: small;">If the poem has no title, leave blank.</p> -->
            </div>
          </div>

          <div class="form-group mb-4">
            <label>Poet*</label>
            <div class="ngx-autocomplete autocompletefield">
              <ngx-autocomplete
                placeholder="Name of the poet"
                formControlName="poet1"
                [ngClass]="{ 'is-invalid': submitted && f.poet1.errors }"
                [data]="data"
                [searchOnProperty]="keyword"
                (selected)="selectEvent($event)"
                (inputChanged)="onChangeSearch($event)"
                (inputFocused)="onFocused($event)"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ngx-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>

              <div *ngIf="submitted && f.poet1.errors" class="invalid-feedback">
                <div *ngIf="f.poet1.errors.required">
                  <strong>Poet is required</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4">
            <label>Time of publication*</label>
            <select
              class="form-control"
              formControlName="iyear"
              placeholder="Time of publication"
              [ngClass]="{ 'is-invalid': submitted && f.iyear.errors }"
            >
              <option value="" style="color: #6c757d">
                Time of publication
              </option>
              <option value="Unknown">Unknown</option>
              <option value="1927">1927</option>
              <option value="1926">1926</option>
              <option value="1925">1925</option>
              <option value="1924">1924</option>
              <option value="1923">1923</option>
              <option value="1922">1922</option>
              <option value="1921">1921</option>
              <option value="1920">1920</option>
              <option value="1919">1919</option>
              <option value="1918">1918</option>
              <option value="1917">1917</option>
              <option value="1916">1916</option>
              <option value="1915">1915</option>
              <option value="1914">1914</option>
              <option value="1913">1913</option>
              <option value="1912">1912</option>
              <option value="1911">1911</option>
              <option value="1910">1910</option>
              <option value="1909">1909</option>
              <option value="1908">1908</option>
              <option value="1907">1907</option>
              <option value="1906">1906</option>
              <option value="1905">1905</option>
              <option value="1904">1904</option>
              <option value="1903">1903</option>
              <option value="1902">1902</option>
              <option value="1901">1901</option>
              <option value="1900">1900</option>
              <option value="1899">1899</option>
              <option value="1898">1898</option>
              <option value="1897">1897</option>
              <option value="1896">1896</option>
              <option value="1895">1895</option>
              <option value="1894">1894</option>
              <option value="1893">1893</option>
              <option value="1892">1892</option>
              <option value="1891">1891</option>
              <option value="1890">1890</option>
              <option value="1889">1889</option>
              <option value="1888">1888</option>
              <option value="1887">1887</option>
              <option value="1886">1886</option>
              <option value="1885">1885</option>
              <option value="1884">1884</option>
              <option value="1883">1883</option>
              <option value="1882">1882</option>
              <option value="1881">1881</option>
              <option value="1880">1880</option>
              <option value="1879">1879</option>
              <option value="1878">1878</option>
              <option value="1877">1877</option>
              <option value="1876">1876</option>
              <option value="1875">1875</option>
              <option value="1874">1874</option>
              <option value="1873">1873</option>
              <option value="1872">1872</option>
              <option value="1871">1871</option>
              <option value="1870">1870</option>
              <option value="1869">1869</option>
              <option value="1868">1868</option>
              <option value="1867">1867</option>
              <option value="1866">1866</option>
              <option value="1865">1865</option>
              <option value="1864">1864</option>
              <option value="1863">1863</option>
              <option value="1862">1862</option>
              <option value="1861">1861</option>
              <option value="1860">1860</option>
              <option value="1859">1859</option>
              <option value="1858">1858</option>
              <option value="1857">1857</option>
              <option value="1856">1856</option>
              <option value="1855">1855</option>
              <option value="1854">1854</option>
              <option value="1853">1853</option>
              <option value="1852">1852</option>
              <option value="1851">1851</option>
              <option value="1850">1850</option>
              <option value="1849">1849</option>
              <option value="1848">1848</option>
              <option value="1847">1847</option>
              <option value="1846">1846</option>
              <option value="1845">1845</option>
              <option value="1844">1844</option>
              <option value="1843">1843</option>
              <option value="1842">1842</option>
              <option value="1841">1841</option>
              <option value="1840">1840</option>
              <option value="1839">1839</option>
              <option value="1838">1838</option>
              <option value="1837">1837</option>
              <option value="1836">1836</option>
              <option value="1835">1835</option>
              <option value="1834">1834</option>
              <option value="1833">1833</option>
              <option value="1832">1832</option>
              <option value="1831">1831</option>
              <option value="1830">1830</option>
              <option value="1829">1829</option>
              <option value="1828">1828</option>
              <option value="1827">1827</option>
              <option value="1826">1826</option>
              <option value="1825">1825</option>
              <option value="1824">1824</option>
              <option value="1823">1823</option>
              <option value="1822">1822</option>
              <option value="1821">1821</option>
              <option value="1820">1820</option>
              <option value="1819">1819</option>
              <option value="1818">1818</option>
              <option value="1817">1817</option>
              <option value="1816">1816</option>
              <option value="1815">1815</option>
              <option value="1814">1814</option>
              <option value="1813">1813</option>
              <option value="1812">1812</option>
              <option value="1811">1811</option>
              <option value="1810">1810</option>
              <option value="1809">1809</option>
              <option value="1808">1808</option>
              <option value="1807">1807</option>
              <option value="1806">1806</option>
              <option value="1805">1805</option>
              <option value="1804">1804</option>
              <option value="1803">1803</option>
              <option value="1802">1802</option>
              <option value="1801">1801</option>
              <option value="1800">1800</option>
              <option value="18th century">18th century</option>
              <option value="17th century">17th century</option>
              <option value="16th century">16th century</option>
              <option value="15th century">15th century</option>
              <option value="14th century">14th century</option>
              <option value="13th century">13th century</option>
              <option value="12th century">12th century</option>
              <option value="11th century">11th century</option>
              <option value="10th century">10th century</option>
              <option value="9th century">9th century</option>
              <option value="8th century">8th century</option>
              <option value="7th century">7th century</option>
              <option value="6th century">6th century</option>
              <option value="5th century">5th century</option>
              <option value="4th century">4th century</option>
              <option value="3rd century">3rd century</option>
              <option value="2nd century">2nd century</option>
              <option value="1st century">1st century</option>
              <option value="1st century B.C.">1st century B.C.</option>
              <option value="Earlier than the 1st century B.C.">
                Earlier than the 1st century B.C.
              </option>
            </select>
            <!--   <input formControlName="iyear" type="text" [maxlength]="4" [ngClass]="{ 'is-invalid': submitted && f.iyear.errors }" 
              class="form-control" placeholder="Time of publication"/> -->
            <div *ngIf="submitted && f.iyear.errors" class="invalid-feedback">
              <div *ngIf="f.iyear.errors.required">
                <strong>Time of publication is required</strong>
              </div>
              <!-- <div *ngIf="f.iyear.errors.pattern || f.iyear.errors.maxlength"><strong>Year must be numeric</strong></div> -->
              <!-- <div *ngIf="f.iyear.errors.maxlength">Year must have 4 max length</div> -->
            </div>
          </div>

          <div class="form-group mb-4">
            <label>The Poem*</label>
            <angular-editor
              id="editor1"
              formControlName="description"
              [config]="editorConfig"
            ></angular-editor>
            <!-- <textarea formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
              class="form-control" placeholder="The full text of the poem"></textarea> -->
            <!-- <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required"><strong>Description is required</strong></div>
            </div> -->
          </div>

          <div class="form-group mb-4">
            <label>Source*</label>
            <input
              formControlName="source"
              [ngClass]="{ 'is-invalid': submitted && f.source.errors }"
              type="text"
              class="form-control"
              placeholder="Text of a website displaying the poem"
            />
            <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
              <div *ngIf="f.source.errors.required">
                <strong>Source is required</strong>
              </div>
              <!-- <div *ngIf="f.source.errors.pattern"><strong>Please enter a valid source</strong></div> -->
            </div>
            <div class="mb-2"></div>
            <input
              formControlName="source_link"
              [ngClass]="{ 'is-invalid': submitted && f.source_link.errors }"
              type="text"
              class="form-control"
              placeholder="Url of a website displaying the poem"
            />
            <div
              *ngIf="submitted && f.source_link.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.source_link.errors.required">
                <strong>Source Url is required</strong>
              </div>
              <!-- <div *ngIf="f.source.errors.pattern"><strong>Please enter a valid source</strong></div> -->
            </div>
          </div>

          <div class="form-group mb-4"></div>

          <div class="form-group mb-4">
            <label>Theme (one or more)</label>
            <ng-multiselect-dropdown
              formControlName="poem_theme_selected"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [placeholder]="'What are the themes of the poem?'"
            >
            </ng-multiselect-dropdown>
            <input
              type="hidden"
              value="{{ this.user_id }}"
              formControlName="user_id"
            />
            <!-- <div *ngIf="submitted && f.poem_theme_selected.errors" class="invalid-feedback">
              <div *ngIf="f.poem_theme_selected.errors.required"><strong>Poem theme is required</strong></div>
            </div> -->
          </div>

          <div class="form-group mb-4">
            <label>Mood (one or more)</label>
            <ng-multiselect-dropdown
              formControlName="poem_mood_selected"
              [settings]="dropdownSettings"
              [data]="this.dropdownList1"
              [placeholder]="'What is the mood of the poem?'"
            >
            </ng-multiselect-dropdown>
            <!--  <div *ngIf="submitted && f.poem_mood_selected.errors" class="invalid-feedback">
              <div *ngIf="f.poem_mood_selected.errors.required"><strong>Poem mood is required</strong></div>
            </div> -->
            <!-- <span class="error" error *ngIf="errors.indexOf(poem_mood_selected) >= 0 && submitted == true">Mood is required</span> -->
          </div>

          <div class="form-group mb-4" formArrayName="additional_links">
            <label>Additional Links</label>
            <div
              class="formbox"
              *ngFor="
                let additional_link of additional_links().controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <div class="form-group mb-0">
                <input
                  type="text"
                  class="form-control"
                  formControlName="itext"
                  placeholder="Content"
                />
              </div>
              <br />
              <div class="form-group mb-0">
                <input
                  type="text"
                  class="form-control"
                  formControlName="url"
                  placeholder="Url"
                />
              </div>
              <br />
              <div class="form-group mb-4 text-right linkRemove">
                <a
                  (click)="remove_additional_links(i)"
                  class="addmore btn btn-danger"
                >
                  - Remove
                </a>
              </div>
            </div>
          </div>

          <div class="form-group mb-4 text-right linkAdd">
            <a (click)="add_additional_links()" class="addmore">
              + Add a link
            </a>
          </div>

          <div class="notiFy">
            <p>Notify me when 10 users add this poem to their collection</p>
            <div class="chbox d-flex flex-wrap">
              <div class="custom-control custom-radio mb-2">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="onceday"
                  value="1"
                  formControlName="notify_via"
                />
                <label class="custom-control-label" for="onceday"
                  >By email</label
                >
              </div>
              <div class="custom-control custom-radio mb-2 ml-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="onceweek"
                  value="2"
                  formControlName="notify_via"
                />
                <label class="custom-control-label" for="onceweek"
                  >On my mobile phone</label
                >
              </div>
              <div class="custom-control custom-radio mr-3">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="bothe"
                  value="3"
                  formControlName="notify_via"
                />
                <label class="custom-control-label" for="bothe"
                  >Both email and mobile phone</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  value="0"
                  class="custom-control-input"
                  id="thanks"
                  formControlName="notify_via"
                  checked
                />
                <label class="custom-control-label" for="thanks"
                  >No, thanks</label
                >
              </div>
            </div>
          </div>

          <div class="px-2 chbox">
            <div class="custom-control custom-checkbox mb-2">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck"
                formControlName="poem_in_public_domain"
                [ngClass]="{
                  'is-invalid': submitted && f.poem_in_public_domain.errors
                }"
              />
              <label class="custom-control-label" for="customCheck"
                >The poem is in the
                <span
                  class="spanrel"
                  (mouseover)="hideShowDiv = false"
                  (mouseout)="hideShowDiv = true"
                  >public domain</span
                >*
                <span class="showdiv" *ngIf="!hideShowDiv">
                  The poem was published before 1928 and 70 years have passed
                  since the death of the poet.
                </span>
              </label>
              <div
                *ngIf="submitted && f.poem_in_public_domain.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.poem_in_public_domain.errors.required">
                  <strong>Please select the checkbox</strong>
                </div>
              </div>
            </div>
          </div>

          <!-- (click)="openModal(template)" -->
          <button
            (click)="openModal(template, template1, template2)"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
          >
            Submit
          </button>
          <!--   <button *ngIf="f.title == ''" (click)="openModal1(template1)"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
            Upload
          </button> -->
        </form>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>

<ng-template #template>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
    <h2>Thank you for contributing to our community of poetry readers</h2>
    <p>
      We will review the poem, and if it meets
      <span class="spanrel1" (click)="openBox()">
        our criteria for publication</span
      >, it will become available to the community
      <span class="showdiv1" *ngIf="hideShowDiv1">
        <h3><strong>Our criteria for publication</strong></h3>
        <p>1. The text was published in the past as a poem.</p>
        <p>
          2. The text has a clear poetic quality. It stimulates emotions or
          thoughts using poetic devices. This criterion is subjective. If we
          feel that the poem does not meet it, it is not an objective truth; it
          is just our personal taste.
        </p>
        <p>3. The text contains less than 4,000 words</p>
        <p>
          4. The text is not defamatory, obscene or offensive towards others.
        </p>
        <p>5. The text is in the public domain.</p>
        <p>6. The text meets all other legal criteria for publication.</p>
      </span>
    </p>
    <button
      (click)="closeredirect()"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
    >
      OK
    </button>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
    <h2>Is the poem untitled?</h2>
    <!-- <p>
      We will review the poem, and if it meets
      <span class="spanrel1" (click)="openBox()">
        our criteria for publication</span>, it will become available to the community
      <span class="showdiv1" *ngIf="hideShowDiv1">
        <h3><strong>Our criteria for publication</strong></h3>
        <p>1. The text was published in the past as a poem.</p>
        <p>
          2. The text has a clear poetic quality. It stimulates emotions or
          thoughts using poetic devices. This criterion is subjective. If we
          feel that the poem does not meet it, it is not an objective truth; it
          is just our personal taste.
        </p>
        <p>3. The text contains less than 4,000 words</p>
        <p>
          4. The text is not defamatory, obscene or offensive towards others.
        </p>
        <p>5. The text is in the public domain.</p>
        <p>6. The text meets all other legal criteria for publication.</p>
      </span>
    </p> -->
    <button
      (click)="openModal1(template, template2)"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
    >
      Yes
    </button>
    <button
      (click)="modalRef?.hide()"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
    >
      Back to editing
    </button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-body">
    <div
      class="text-center d-flex flex-column justify-content-center align-items-center"
    >
      <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
      <span
        >Please wait until admin approves your poem to be displayed in your
        collection and publically.</span
      >
    </div>
    <!-- <p>
      We will review the poem, and if it meets
      <span class="spanrel1" (click)="openBox()">
        our criteria for publication</span>, it will become available to the community
      <span class="showdiv1" *ngIf="hideShowDiv1">
        <h3><strong>Our criteria for publication</strong></h3>
        <p>1. The text was published in the past as a poem.</p>
        <p>
          2. The text has a clear poetic quality. It stimulates emotions or
          thoughts using poetic devices. This criterion is subjective. If we
          feel that the poem does not meet it, it is not an objective truth; it
          is just our personal taste.
        </p>
        <p>3. The text contains less than 4,000 words</p>
        <p>
          4. The text is not defamatory, obscene or offensive towards others.
        </p>
        <p>5. The text is in the public domain.</p>
        <p>6. The text meets all other legal criteria for publication.</p>
      </span>
    </p> -->
    <button
      (click)="modalRef?.hide()"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
    >
      Ok
    </button>
  </div>
</ng-template>
