<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/bg2.png')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mb-4 mt-0 pt-0">Frequently Asked Questions</h2>
        <div class="row">
          <div class="col-md-12">
            <accordion [isAnimated]="true" [closeOthers]="oneAtATime" *ngFor="let item of responseData">
              
              <accordion-group
                heading={{item?.title}}
                panelClass="accordionbox"
                #accordionGroupRef>
                <a
                  class="btn btn-light float-right"
                  accordion-heading>
                  <i *ngIf="isContentOpen" class="fas fa-chevron-up"></i>
                  <i *ngIf="!isContentOpen" class="fas fa-chevron-down"></i>
                </a>
                <p innerHtml="{{item?.description}}">
                </p>
              </accordion-group>

            </accordion>

            <div class="text-center" *ngIf="responseData?.length==0">
              <h5 class="p-notFound mt-3">
                No record found
              </h5>
            </div>
          </div>

        </div>

        <div class="justify-content-center align-items-center d-flex mt-5 mb-5">
          <a
            routerLink="/support-us"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
            Support Us
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>