@import "../../scss/variables";

.home-bg {
    &.inputbox {
        p {
            font-family: $fontFamily-Libre;
            font-size: 18px;
            margin: 10px auto;
        }

        .chbox {
            display: flex;
            justify-content: space-evenly;
            margin: 40px auto 25px;
            font-size: 20px;

            .custom-control-label {
                &::before {
                    top: 7px;
                }

                &::after {
                    top: 7px;
                }
            }

            &.chbox1 {
                margin: 20px auto 25px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                // align-items: center;
            }
        }

        form {
            margin: 0 auto 55px;

            .form-group {
                label {
                    padding-left: 15px;
                    font-weight: 700;
                    margin-bottom: 4px;
                    font-size: 16px;
                }

                .form-control {
                    padding-left: 58px;
                }
            }
        }

        .clicktext {
            margin-left: 5px;
            color: #000;
        }

        .custom-control-label {
            font-weight: 600;
        }

        .noterg {
            font-family: $fontFamily-Inter;
            font-weight: 600;
            color: #000;
            text-align: center;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

.hideDiv {
    display: none;
}

@media (max-width: 767px) {
    .home-bg {
        h1 {
            font-size: 22px;
        }

        &.inputbox {
            .custom-control-label {
                font-size: 17px;
            }

            .chbox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 auto 10px !important;

                .custom-control {
                    width: 49%;

                    &.mb-2 {
                        margin-bottom: 18px !important;
                    }
                }

                &.chbox1 {
                    .custom-control {
                        width: 100%;
                    }
                }
            }

            .noterg {
                font-size: 18px;
            }
        }
    }
}