<section class="home-bg secpad inputbox" style="background-image: url('assets/images/bg.jpg')">

    <div class="container" *ngIf="is_next==false">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Send me personally recommended poems by email
                </h1>
                <form [formGroup]="bothRecommendForm">
                    <div class="chbox chbox1">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="onceday" name="urec_email_freq"
                                value="0" formControlName="urec_email_freq"
                                [ngClass]="{ 'is-invalid': submitted && rForm.urec_email_freq.errors }" />
                            <label class="custom-control-label" for="onceday">Once a day</label>
                        </div>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="onceweek" name="urec_email_freq"
                                value="1" formControlName="urec_email_freq"
                                [ngClass]="{ 'is-invalid': submitted && rForm.urec_email_freq.errors }" />
                            <label class="custom-control-label" for="onceweek">Once a week</label>
                        </div>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="oncemonth" name="urec_email_freq"
                                value="2" formControlName="urec_email_freq"
                                [ngClass]="{ 'is-invalid': submitted && rForm.urec_email_freq.errors }" />
                            <label class="custom-control-label" for="oncemonth">Once a month</label>
                        </div>
                        <div *ngIf="submitted && rForm.urec_email_freq.errors && rForm.urec_email_freq.invalid"
                            class="invalid-feedback">
                            <div *ngIf="rForm.urec_email_freq.errors.required">Please select how many times you want the
                                poem on your email adddress</div>
                        </div>
                    </div>
                    <input type="hidden" name="sendPoemVia" value="via_email">
                    <input type="hidden" name="user_id" value="{{user_id}}">

                    <div class="chbox chbox1">
                        <div class="custom-control custom-radio mb-2">
                            <input class="custom-control-input" type="radio" name="recommend_poem_email" id="1"
                                formControlName="recommend_poem_email" (click)="checkEmailAddressRegistered($event)"
                                [ngClass]="{ 'is-invalid': submitted && rForm.recommend_poem_email.errors }"
                                [value]="0" />
                            <label class="custom-control-label" for="1">Use the email address that I registered
                                with</label>
                        </div>

                        <div class="custom-control custom-radio mb-2">
                            <input class="custom-control-input" type="radio" name="recommend_poem_email" id="2"
                                formControlName="recommend_poem_email" (click)="checkEmailAddressRegistered($event)"
                                [ngClass]="{ 'is-invalid': submitted && rForm.recommend_poem_email.errors }"
                                [value]="1" />

                            <label class="custom-control-label" for="2">Use a different email address
                            </label>
                        </div>
                    </div>

                    <!-- <form class="mb-4"> -->
                    <!-- <div class="showDiv" *ngIf="flag == 0"> -->
                    <!-- {{bothRecommendForm.value.recommend_poem_email}} -->
                    <div class="showDiv" *ngIf="bothRecommendForm.value.recommend_poem_email == 0">

                        <a (click)="firstStep()" class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
                            Next
                        </a>
                    </div>
                    <div class="showDiv" *ngIf="bothRecommendForm.value.recommend_poem_email == 1">
                        <div class="form-group">
                            <img src="assets/images/email.svg" alt="" />
                            <input type="text" class="form-control" formControlName="other_email"
                                [ngClass]="{ 'is-invalid': submitted && rForm.other_email.errors }"
                                placeholder="Email" />
                            <span error *ngIf="isControlHasError('other_email','required')">Please enter other
                                email</span>
                        </div>
                        <a (click)="firstStep()" class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
                            Next
                        </a>
                    </div>
                    <!-- </form> -->
                </form>

                <!-- <div class="justify-content-center d-flex">
                    <a routerLink="/register"
                        class="btn clicktext btn-info justify-content-center brnone custombtn custombtn1">
                        Not registered? Click here
                    </a>
                </div> -->

            </div>
        </div>
    </div>

    <div class="container" *ngIf="is_next==true">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center titremove">
                    Send personally recommended poems to my <br />
                    mobile phone
                </h1>
                <form [formGroup]="poemRecommendForMobile">
                    <div class="chbox chbox1">
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="onceday" name="urec_push_freq" value="0"
                                formControlName="urec_push_freq"
                                [ngClass]="{ 'is-invalid': submitted && pForm.urec_push_freq.errors }" />
                            <label class="custom-control-label" for="onceday">Once a day</label>
                        </div>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="onceweek" name="urec_push_freq" value="1"
                                formControlName="urec_push_freq"
                                [ngClass]="{ 'is-invalid': submitted && pForm.urec_push_freq.errors }" />
                            <label class="custom-control-label" for="onceweek">Once a week</label>
                        </div>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" class="custom-control-input" id="oncemonth" name="urec_push_freq" value="2"
                                formControlName="urec_push_freq"
                                [ngClass]="{ 'is-invalid': submitted && pForm.urec_push_freq.errors }" />
                            <label class="custom-control-label" for="oncemonth">Once a month</label>
                        </div>
                        <div *ngIf="submitted && pForm.urec_push_freq.errors && pForm.urec_push_freq.invalid"
                            class="invalid-feedback">
                            <div *ngIf="pForm.urec_push_freq.errors.required">Please select how many times you want the poem
                                on your email
                                adddress</div>
                        </div>
                    </div>
                    <input type="hidden" name="sendPoemVia" value="via_both_mobile_and_email">
                    <input type="hidden" name="user_id" value="{{user_id}}">
                </form>
    
                <div class="d-flex justify-content-center deshow">
                    <button (click)="sendnotify(template1)"
                        class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
                        Submit
                    </button><br>
                   <!--  <button (click)="backToFirstPage()" class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
                        back
                    </button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</section>

<ng-template #template>
    <div class="modal-body">
        <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
        <p>
            We sent the first poem to your email and the first notification to your
            mobile phone.
        </p>
        <a routerLink="/home" (click)="modalRef?.hide()"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
            OK
        </a>
    </div>
</ng-template>

<ng-template #template1>
    <div class="modal-body">
        <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
        <p>
            We will send you the poems as you requested, we hope you enjoy them.
        </p>
        <a routerLink="/home" (click)="modalRef?.hide()"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
            OK
        </a>
    </div>
</ng-template>