@import "../../scss/variables";

.home-bg {
  .container {
    margin-top: auto;
  }
  .supportbox {
    background: rgba(255, 255, 255, 0.1);
    border: 2.71292px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    img {
      height: 240px;
      width: 100%;
      object-fit: contain;
    }
    p {
      padding: 1em;
      font-weight: 500;
      line-height: 32px;
      margin: 0;
    }
  }

  .error{
    color:#dc3545;
    font-size: 14px;
  }

  .support_heading {
    display: flex;
    h1 {
      line-height: 45px;
      margin-bottom: 15px;
    }
    select {
      min-width: 120px;
      width: 20%;
      background: rgba(255, 255, 255, 0.1);
      border: 2.71292px solid rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      font-weight: 600;
      color: #000;
      &:hover {
        box-shadow: none;
      }
    }
  }

  h2 {
    font-weight: 700;
  }

  .chooseheading {
    font-weight: 500;
    font-family: $fontFamily-Libre;
    img {
      width: 100px;
      margin-left: 7px;
    }
  }

  .custom-control-label {
    font-weight: 700;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #000;
    background-color: #000;
  }

  .paybtn {
    a {
      display: block;
      padding: 15px;
      border-radius: 100px;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      transition: all ease 0.3s;
      img {
        margin-right: 4px;
      }
      &.visa {
        background-color: #595cf3;
      }
      &.paypal {
        background-color: #009cde;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 2.71292px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    height: 54px;
    color: #000;
    font-weight: 700;
    text-align: center;
    &::placeholder {
      color: #000;
      font-weight: 700;
    }
    &:focus {
      box-shadow: none;
      border: 2.71292px solid #000;
    }
  }

  .btext {
    color: #000;
    font-weight: 500;
    line-height: 28px;
    a {
      text-decoration: underline;
      font-weight: 700;
      color: #000;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 18px;
}
.show-mobileLg {
  display: none;
}

.show-desktopLg {
  display: block;
}

@media (max-width: 991px) {
  .home-bg {
    .support_heading {
      h1 {
        font-size: 1.5em;
      }
    }
  }
}

@media (max-width: 767px) {
  .home-bg {
    h1 {
      &.show-mobileLg {
        display: block;
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 400;
      }
    }

    h2 {
      font-size: 22px;
      &.show-mobileLg {
        display: block;
        margin-bottom: 0 !important;
      }
    }

    .show-desktopLg {
      display: none;
    }

    .support_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-top: 15px;
      select {
        height: 50px;
        min-width: 130px;
        text-align: left;
      }
    }

    .supportbox {
      p {
        font-size: 14px;
      }
    }

    .show-mobileLg {
      display: block;
    }

    .paybtn {
      a.visa {
        margin-bottom: 15px;
      }
    }

    .btext {
      font-size: 14px;
    }

    .custom-control-label {
      font-size: 14px;
    }

    .chooseheading {
      font-size: 16px;
    }
  }
}

.activeClass{
  background-color: lightgreen;
}

.paymentwrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.credclss {
  background-color: #4d6c89 !important;
   border-color: #4d6c89 !important;
   margin-top: -5px;
    font-size: 14px;
    min-width: 200px;
}
