@import "../../scss/variables";

.home-bg {
    &.inputbox {
        h1 {
            margin-bottom: 30px;
        }

        p {
            font-family: $fontFamily-Inter;
            font-size: 1em;
            font-weight: 500;
            line-height: 1.8em;

            &.fontbig {
                font-size: 1.5em;
            }
        }

        h3 {
            font-family: $fontFamily-Libre;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        h4 {
            font-family: $fontFamily-Libre;
            margin-top: 18px;
            margin-bottom: 0px;
            font-weight: 700;
            font-size: 18px;
        }

        ul {
            padding-left: 15px;

            li {
                margin-bottom: 10px;
                font-weight: 500;
                font-weight: #000;
            }
        }

        .linka {
            color: #000;
            text-decoration: underline;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.custombtn1 {
    border: 2px solid #000 !important;
}

@media (max-width: 767px) {
    .home-bg {
        &.inputbox {
            h3 {
                font-size: 20px;
                font-weight: 600;
            }

            .linka {
                word-break: break-all;
            }
        }
    }
}