<section class="home-bg secpad inputbox" style="background-image: url('assets/images/bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Forgot Password?
                </h1>
                <br><br>
                <form class="mb-3" [formGroup]="forgotPasswordForm">

                    <div class="form-group mb-4">
                        <img src="assets/images/user.svg" alt="" />
                        <input type="text" class="form-control" formControlName="uemail"
                            [ngClass]="{ 'is-invalid': submitted && f.uemail.errors }"
                            placeholder="Email" />
                        <div *ngIf="submitted && f.uemail.errors" class="invalid-feedback">
                            <div *ngIf="f.uemail.errors.required"><strong>Email is required</strong></div>
                            <div *ngIf="f.uemail.errors.email"><strong>Email must be a valid email address</strong>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
                        (click)="onSubmit()">
                        Submit
                    </button>
                </form>
                <div class="justify-content-center d-flex">
                    <a
                      routerLink="/login"
                      class="btn btn-info notsign brnone custombtn custombtn1">
                     Back to Login
                    </a>
                  </div>
            </div>
        </div>
    </div>
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</section>
