<section class="home-bg" style="background-image: url('assets/images/bg.jpg')">
  <div class="container">
    <div class="row align-items-center ptb">
      <div class="col-md-7 col-lg-8 col-xl-8"  *ngIf="showicnArrow == false">
        <!-- <h1>Download the app</h1> -->
        <p>App Already Installed In Your Device.</p>
       <!-- <a id="install_button" (click)="addToHomeScreen()"
          class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
          Download
        </a> -->
        <img src="assets/images/appbird.png" class="img-fluid deskapp" alt="" />
      </div>

        <div class="col-md-7 col-lg-8 col-xl-8" *ngIf="showicnArrow == true">
        <h1>Download our app</h1>
        <p>To receive personally recommended poems on your mobile phone</p>
        <p>Click on the install button in the left corner of the page.</p>
       <!-- <a id="install_button" (click)="addToHomeScreen()"
          class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
          Download
        </a> -->
        <!-- <img src="assets/images/appbird.png" class="img-fluid deskapp" alt="" /> -->
        <div class="testclssss" style="padding: 90px !important;"></div>
      </div>

      <div class="col-md-5 col-lg-4 col-xl-4 bgimg">
        <img src="assets/images/appdownload.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
 

 
  <br />
</section>



