<!-- <section
  class="home-bg secpad"
  style="background-image: url('assets/images/bg.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-md-6" style="font-size: xx-large;
    top: 100px;
    left: 100px;">
      Please Wait......
      </div>
     
      <div class="col-md-6">
        <img src="assets/images/pheasants.png" class="img-fluid bgimg" alt="" />
      </div>
 
    </div>
  </div>
</section> -->

<section class="home-bg secpad inputbox" style="background-image: url('assets/images/terms.png')">
    <div class="container pb200">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
    <!-- <div class="mt-auto">
        <app-footer></app-footer>
    </div> -->
</section>

<ng-template #template>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
<p> 
      You have successfully unsubscribed from email recommendations.
      <!-- {{message32}} -->
    </p>
   
    <a
      (click)="checkTokenVerification()"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
      OK
    </a>
  </div>
</ng-template>