<section class="home-bg secpad inputbox" style="background-image: url('assets/images/bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Reset Password
                </h1>
                <br><br>
                <form class="mb-3" [formGroup]="resetPasswordForm">

                    <!-- <div class="form-group mb-4">
                        <img src="assets/images/password.svg" alt="" />
                        <input type="text" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">Password must have alphanumeric and at least 6 characters</div>
                        </div>
                    </div>
                    
                    <div class="form-group mb-4">
                        <img src="assets/images/password.svg" alt="" />
                        <input type="password" formControlName="confirm_password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" placeholder="Confirm Password" />
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                        </div>
                        <div *ngIf="resetPasswordForm.value.confirm_password!=resetPasswordForm.value.password && resetPasswordForm.value.confirm_password!=''">
                            Passwords must match
                        </div>
                    </div> -->
                    
                    <div class="form-group mb-4">
                        <img src="assets/images/password.svg" alt="" />
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">Password must contain atleast one alphabet, one number and consist of min 6 characters</div>
                        </div>
                    </div>
                    
                    <div class="form-group mb-4">
                        <img src="assets/images/password.svg" alt="" />
                        <input type="password" formControlName="confirm_password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors  }" placeholder="Confirm Password" />
                    
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f.confirm_password.errors.mustMatch">
                                Confirm password did not match with password
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
                        (click)="onSubmit()">
                        Submit
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="mt-auto">
        <app-footer></app-footer>
    </div>
</section>