<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/bg.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center pagemaintitle">My Profile</h1>
          <div class="tabbox">
            <tabset>
                  <tab heading="Profile Info" customClass="tabitem">
                    <form [formGroup]="profileForm">
                      <div class="form-group mt-5 mb-4">
                        <img src="assets/images/user.svg" alt="" />
                        <input type="text" formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }"
                          class="form-control" placeholder="User Name" />
                        <!-- {{f.user_name.errors.required}} -->
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                          <div *ngIf="f.user_name.errors.required"><strong>User Name is required</strong></div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <img src="assets/images/email.svg" alt="" />
                        <input type="text" readonly class="form-control" placeholder="Email" formControlName="uemail"
                          [ngClass]="{ 'is-invalid': submitted && f.uemail.errors }" />
                        <div *ngIf="submitted && f.uemail.errors" class="invalid-feedback">
                          <div *ngIf="f.uemail.errors.required"><strong>Email is required</strong></div>
                          <div *ngIf="f.uemail.errors.email"><strong>Email must be a valid email address</strong></div>
                        </div>
                      </div>
                      <div class="chbox">
                        <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="subscribe_me" />
                          <label class="custom-control-label" for="customCheck1">Subscribe me to the newsletter</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                          <input type="checkbox" class="custom-control-input" id="customCheck2" formControlName="send_recommened_poem" />
                          <label class="custom-control-label" for="customCheck2">Send me personally recommended poems by email</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3" formControlName="send_notification" />
                          <label class="custom-control-label" for="customCheck3">Send notifications about personally recommended poems to
                            my
                            mobile phone</label>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col-md-12">
                          <button (click)="onUpdate()" class="btn btn-info justify-content-center brnone custombtn custombtn1">
                            Update
                          </button>
                        </div>
                      </div>
                    </form>
                  
                    <hr class="mb-4" />
                  
                    <div class="text-center mtdel mb-4">
                      <a (click)="openModal2(template)"
                        class="btn btn-info justify-content-center brnone custombtn m-auto custombtn1">
                        Delete my account
                      </a>
                    </div>
                  </tab>
              <tab heading="Change Password" customClass="tabitem">
                <form [formGroup]="changePasswordForm">
                  <div class="form-group mt-5 mb-4">
                    <img src="assets/images/password.svg" alt="" />
                    <input type="password" formControlName="old_password" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedForChangePassword && formContrl.old_password.errors }"
                      placeholder="Old Password" />
                    <div *ngIf="submittedForChangePassword && formContrl.password.errors" class="invalid-feedback">
                      <div *ngIf="formContrl.old_password.errors.required"><strong>Old password is required</strong> </div>
                      <div *ngIf="formContrl.old_password.errors.pattern"><strong>Password must contain atleast one alphabet, one number and
                        consist of min 6 characters</strong></div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <img src="assets/images/password.svg" alt="" />
                    <input type="password" formControlName="password" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedForChangePassword && formContrl.password.errors }" placeholder="New Password" />
                    <div *ngIf="submittedForChangePassword && formContrl.password.errors" class="invalid-feedback">
                      <div *ngIf="formContrl.password.errors.required"><strong>Password is required</strong> </div>
                      <div *ngIf="formContrl.password.errors.pattern"><strong>Password must contain atleast one alphabet, one number and
                        consist of min 6 characters</strong></div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <img src="assets/images/password.svg" alt="" />
                    <input type="password" formControlName="confirm_password" class="form-control"
                      [ngClass]="{ 'is-invalid': submittedForChangePassword && formContrl.confirm_password.errors }"
                      placeholder="Confirm Password" />
                   
                    <div *ngIf="submittedForChangePassword && formContrl.confirm_password.errors" class="invalid-feedback">
                      <div *ngIf="formContrl.confirm_password.errors.required"><strong>Confirm password is required</strong></div>
                    </div>
                    
                    <div class="errorValidation"
                      *ngIf=" changePasswordForm.value.confirm_password!=changePasswordForm.value.password && changePasswordForm.value.confirm_password!=''">
                     <strong> Passwords must match</strong>
                    </div>

                  </div>
                  <div class="text-center mb-4">
                    <button class="btn btn-info justify-content-center brnone custombtn m-auto custombtn1"
                      (click)="submitChangePassword()">
                      Submit
                    </button>
                  </div>
                </form>
              </tab>
              
            </tabset>
          </div>
          <!-- Tabs End -->
        <!-- </form> -->
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <!-- <app-footer></app-footer> -->
  </div>
</section>

<ng-template #template>
  <div class="modal-body">
    <p style="font-size: 18px">
      This will delete the information that we use for providing you with
      recommendations.
    </p>
    <h2>Are you sure?</h2>
    <div class="d-flex px-4 mobver">
      <button
        (click)="ondeletebtn(templateNested)"
        style="height: 55px"
        class="btn btn-info justify-content-center brnone custombtn mt-4 mx-4 custombtn1"
      >
        Yes
      </button>
      <button
        (click)="closeFirstModal(template)"
        style="height: 55px"
        class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
      >
        No
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateNested>
  <div class="modal-body">
    <p style="font-size: 18px; color: #000">
      Could you let us know why you chose to delete your account?
    </p>
    <h2 style="font-size: 15px">This could help us to improve.</h2>

    <!-- <form class="mb-0"> -->
      <div class="mb-4">
        <textarea #myArea
          style="height: 150px; width: 450px; border-radius: 12px; padding: 12px 20px"
          placeholder="Message"
        ></textarea>
      </div>
      
    <!-- </form> -->
  </div>
  <div class="" style="padding-left: 65px !important;
    padding-bottom: 15px !important;">
      <button
        (click)="closeModalssss(myArea.value)"
        class="btn btn-info justify-content-center brnone custombtn custombtn1"
      >
        Submit
      </button>
    </div>
</ng-template>
