<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/bg.jpg')"
>
  <div class="container hover_bkgr_fricc">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center pagemaintitle">My Collection</h1>
      </div>
    </div>

    <div class="row hidecollection" (click)="ClickedOut($event)">
      <div class="col-md-7 col-xl-8 col-lg-8">
        <div class="row">
          <div class="col-md-12 inputbox mb-4">
            <div class="inform">
              <div class="form-group mb-0">
                <img src="assets/images/search.svg" alt="" />
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="searchedValue"
                  placeholder="Search by title, poet or poem text"
                />
              </div>
            </div>
            <div
              class="text-center"
              *ngIf="isLoaded === true && poemData.length == 0"
            >
              <h5 class="p-notFound mt-3">No record found</h5>
            </div>
          </div>

          <div
            class="col-sm-12 col-12 col-md-12 col-xl-6 col-lg-6 posrel"
            *ngFor="
              let item of poemData
                | filter
                  : [searchedValue, 'title', 'description', 'cretor_name'];
              let i = index
            "
          >
            <span
              *ngIf="item?.poem_detail?.approved_by_admin == 1"
              class="menupos"
              ng-hide="toggleShow1(i)"
              (click)="toggleShow1(i)"
            >
              <img src="assets/images/dots.svg" alt="" />
            </span>

            <!-- <div *ngIf="item.added_by==1"> -->
            <div>
              <div *ngIf="selected_index == i" class="divcard">
                <h2 (click)="openModal1(template1, item?.item_id, i)">
                  Remove
                </h2>
              </div>
            </div>

            <!--  <div *ngIf="item.added_by==0">
              <div *ngIf="selected_index==i" class="divcard">
                <h2 (click)="openModal(template,item?.item_id,i)">Delete</h2>
              </div>
            </div> -->

            <a
              *ngIf="item?.poem_detail?.approved_by_admin == 1"
              routerLink="/poem/{{ item?.item_id }}"
              class="cardbox"
            >
              <div class="cardbox__left" routerLink="/poem/{{ item?.item_id }}">
                <h2>{{ item?.title }}</h2>
                <h3>by {{ item?.cretor_name }}</h3>
              </div>
              <div class="cardbox__right">
                <p *ngIf="getInnerText(whatsNew)?.length > 50">
                  {{ getInnerText(whatsNew) | slice : 0 : 50 }}<span>...</span>
                </p>

                <p *ngIf="getInnerText(whatsNew)?.length < 50">
                  {{ getInnerText(whatsNew) }}
                </p>

                <p
                  routerLink="/poem/{{ item?.item_id }}"
                  hidden
                  [innerHTML]="item?.shortDescription"
                  #whatsNew
                ></p>
              </div>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div
              *ngIf="next"
              class="justify-content-center align-items-center d-flex mt-0 mb-5 brmb loadMoreButton"
            >
              <a
                (click)="loadMore()"
                class="btn btn-info justify-content-center w-50new brnone custombtn mt-4 custombtn1"
              >
                Load more
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-4 col-lg-4">
        <a class="recbtn" (click)="toggleShow()">
          <img src="assets/images/recpoem.png" alt="" /> Recommend another poem
        </a>

        <div *ngIf="isShown" class="recbox">
          <div class="custom-control custom-radio mb-2 mr-3">
            <input
              class="custom-control-input"
              type="radio"
              name="1"
              id="1"
              [(ngModel)]="flag"
              [value]="1"
            />
            <label class="custom-control-label" for="1"
              >Any theme or mood</label
            >
          </div>

          <div class="d-flex mb-2">
            <div class="custom-control custom-radio mb-2 mr-3">
              <input
                class="custom-control-input"
                type="radio"
                name="2"
                id="2"
                [(ngModel)]="flag"
                [value]="2"
              />
              <label class="custom-control-label" for="2">Select theme</label>
            </div>
            <div class="custom-control custom-radio mb-2">
              <input
                class="custom-control-input"
                [value]="3"
                type="radio"
                name="3"
                id="3"
                [(ngModel)]="flag"
                [value]="3"
              />
              <label class="custom-control-label" for="3">Select mood</label>
            </div>
          </div>

          <form class="mb-3">
            <div class="showDiv" *ngIf="flag == 1"></div>
            <div class="showDiv" *ngIf="flag == 2">
              <div class="pos">
                <fa-icon [icon]="faChevronRight" class="fontabs"></fa-icon>
                <select
                  [(ngModel)]="theme"
                  name="theme"
                  class="form-control btn btn-info custombtn w-100"
                >
                  <option value="Love">Love</option>
                  <option value="Loss">Loss</option>
                  <option value="Relationships">Relationships</option>
                  <option value="Religion or Spirituality">
                    Religion or Spirituality
                  </option>
                  <option value="Society">Society</option>
                </select>
              </div>
            </div>
            <div class="showDiv" *ngIf="flag == 3">
              <div class="pos">
                <fa-icon [icon]="faChevronRight" class="fontabs"></fa-icon>
                <select
                  [(ngModel)]="mood"
                  name="mood"
                  class="form-control btn btn-info custombtn w-100"
                >
                  <option value="Sunny">Sunny</option>
                  <option value="Gloomy">Gloomy</option>
                  <option value="Reflective">Reflective</option>
                </select>
              </div>
            </div>
          </form>

          <button
            class="btn btn-info justify-content-center brnone custombtn mt-2 custombtn1"
            (click)="recommendPoem()"
          >
            Recommend a poem
          </button>
        </div>

      <!--   <div
          class="formbox mycollection_gtrecmndboth_btn"
          *ngIf="userdataa != ''"
        >
          <a
            routerLink="/recommendedpoems"
            class="btn text-center d-flex align-items-center"
            *ngIf="
              userdataa?.send_notification === 0 &&
              userdataa?.send_recommened_poem === 0
            "
          >
            <img src="assets/images/emailphone.svg" class="phone" alt="" />
            Send me personally recommended poems via email or mobile phone
          </a>
        </div> -->
          <div class="formbox mycollection_gtrecmndboth_btn" *ngIf="userdataa != ''">
          <a routerLink="/recommendedpoems" class="btn text-center d-flex align-items-center" *ngIf="errors.indexOf(userdataa?.recommend_poem) >= 0">
            <img src="assets/images/emailphone.svg" class="phone" alt="" />
            Send me personally recommended poems via email or mobile phone
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>

<ng-template #template>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
    <p>Are you sure you want to remove this poem from your collection?</p>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <a
              (click)="confirmedDelete()"
              class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
            >
              Yes
            </a>
          </div>
          <div class="col-md-6">
            <a
              (click)="modalRef?.hide()"
              class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
            >
              No
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
    <p>Are you sure you want to remove this poem from your collection?</p>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <a
              (click)="removePoem()"
              class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
            >
              Yes
            </a>
          </div>
          <div class="col-md-6">
            <a
              (click)="modalRef?.hide()"
              class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
            >
              No
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
