<section
  class="home-bg secpad inputbox"
  style="background-image: url('assets/images/bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          Create an account to get personal poetry recommendations
        </h1>
        <p class="text-center mb-4">and to add poems to your collection</p>
        <form class="mb-3"  [formGroup]="registerForm" >

          <div class="form-group mb-4">
            <img src="assets/images/user.svg" alt="" />
            <input type="text" formControlName="user_name"  [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" class="form-control" placeholder="Username" />
            <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
              <div *ngIf="f.user_name.errors.required"><strong>Username is required</strong></div>
            </div>
          </div>

          <div class="form-group">
            <img src="assets/images/location-outline.svg" alt="" />
            <select #mySelect formControlName="ucountry_id" aria-placeholder="Select Country" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.ucountry_id.errors }" (change)="changeWebsite($event.target)">
              <!-- <option >Select Country</option> -->
              <option value="" disabled selected>Select Country</option>
              <option *ngFor="let item of countries" value="{{item?.id}}">
                {{item?.short_country_name}}({{item?.iso}}) </option>
            </select>
            <div *ngIf="submitted && f.ucountry_id.errors && f.ucountry_id.invalid" class="invalid-feedback">
              <div *ngIf="f.ucountry_id.errors.required"><strong>Country is required</strong></div>
            </div>
          </div>

          <div class="form-group mb-4">
            <img src="assets/images/email.svg" alt="" />
            <input type="text" formControlName="uemail"  [ngClass]="{ 'is-invalid': submitted && f.uemail.errors }" class="form-control" placeholder="Email" />
              <div *ngIf="submitted && f.uemail.errors" class="invalid-feedback">
                <div *ngIf="f.uemail.errors.required"><strong>Email is required</strong></div>
                <div *ngIf="f.uemail.errors.pattern"><strong>Email must be a valid email address</strong></div>
              </div>
          </div>
          <!-- f.uemail.errors.uemail && -->
          <!-- {{f.password.errors.pattern}} -->
          <div class="form-group mb-4">
            <img src="assets/images/password.svg" alt="" />
            <input type="password"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required"><strong>Password is required</strong></div>
              <div *ngIf="f.password.errors.pattern"><strong>Password must contain at least one alphabet, one number and consist of min 6 characters</strong></div>
            </div>
          </div>

          <div class="form-group mb-4">
            <img src="assets/images/password.svg" alt="" />
            <input type="password" formControlName="confirm_password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors  }" placeholder="Confirm Password" />
            
              <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                <div *ngIf="f.confirm_password.errors.required" >
                 <strong> Confirm Password is required</strong>
                </div>
                <div *ngIf="f.confirm_password.errors.mustMatch">
                 <strong> Confirm password did not match with password</strong>
                </div>
              </div>
          </div>

          <div class="px-3 chbox">
            <div class="custom-control custom-checkbox mb-3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck"
                formControlName="remember_me" 
              />
              <label class="custom-control-label" for="customCheck"
                >Remember me</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
                formControlName="subscribe_me" 
              />
              <label class="custom-control-label" for="customCheck1"
                >Subscribe me to the newsletter</label
              >
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck2"
                formControlName="send_recommened_poem" 
              />
              <label class="custom-control-label" for="customCheck2"
                >Send me personally recommended poems by email</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck3"
                formControlName="send_notification"
              />
              <label class="custom-control-label" for="customCheck3"
                >Send notifications about personally recommended poems to my
                mobile phone</label>
            </div>
          </div>

          <button (click)="onSubmit(template)"
            class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1">
            Submit
          </button>

        </form>

        <div class="justify-content-center d-flex">
          <a routerLink="/login"
            class="btn notsign btn-info brnone custombtn custombtn1">
            Already have an account? Sign in
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</section>

<ng-template #template>
  <div class="modal-body">
    <img src="assets/images/modalimg.png" class="img-fluid" alt="" />
    <p>
      We have sent you a link by email, click on the link to verify your email
      address.
    </p>
    <a
      (click)="modalRef?.hide()"
      routerLink="/home"
      class="btn btn-info justify-content-center brnone custombtn mt-4 custombtn1"
    >
      OK
    </a>
  </div>
</ng-template>
